[Unit]
Description=anondbot

[Service]
Type=forking
ExecStart=/usr/bin/anondbot -d
Restart=on-failure
PIDFile=/tmp/anondbot.pid

[Install]
WantedBy=default.target

